includes:
  - phpstan-baseline.neon
  - vendor/jiripudil/phpstan-sealed-classes/extension.neon
  - vendor/spaze/phpstan-disallowed-calls/extension.neon

parameters:
  checkMissingCallableSignature: true
  disallowedFunctionCalls:
    - function:
        - 'dump()'
        - 'var_dump()'
      message: 'avoid committing debug calls'

  earlyTerminatingMethodCalls:
    Tester\Assert:
      - fail

  exceptions:
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - Error
      - LogicException
      - ReflectionException

  level: 8

  paths:
    - src
    - tests
